build/*
jit/*.pt
lib/libtorch*
lib/cudnn*
spike/*
*.x
*.mod
*.tar.gz
slurm_script*
slurm.sh

# don't save test values
test/test_values_cpu.txt
test/test_values_cuda.txt

# don't save outputs from tests
amber_inputs/outputs/*

# No swap files
*.swp
