build/*
jit/*.pt
external/*
.mypy_cache/
! external/README.md
*.x
*.mod
*.tar.gz
slurm_script*
slurm.sh
__pycache__/

# don't save test values
test/test_values*.txt

# don't save outputs from tests
amber_examples/outputs/*

# don't save outputs from tests
tests/MLMM*
tests/FullML*

# No swap files
*.swp
*.swo

# No language server cache
.ccls-cache

# No mypy cache
.mypy-cache

# No clangd cache
.cache
